footer{
    background-color: rgb(35, 50, 68);
    margin-top: 10vh;
    height: 30vh ;
    display: flex;
    justify-content: center;
}

footer section{
    font-size: 2vh;
    margin-top: 5vh;
    color: white;
    padding: 5vh;
}
footer a{
    text-decoration: none ;
    color: #00FFFF;
}